{% extends 'food/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Recipe or Food Item or whatever I still gotta update this...</h1>
    </div>

    <form id="fooditem_form" method="post" action="/food/add_fooditem/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <p></br></p>
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <p></br></p>
        <input type="submit" name="submit" value="Create Food Item" />
    </form>
{% endblock %}
